@inherits Umbraco.Web.Mvc.UmbracoTemplatePage

@{
    var comments = CurrentPage.Children;
}

<!-- Comments -->
<div class="page-comments">
    <header>
        <h2>Kommentarer <span>(@comments.Count())</span></h2>
    </header>

    @Html.Action("Index", "CommentFormSurface")

    <ul class="comments-list col-md-12">

        @foreach (var item in comments)
        {
            if (item.HasValue("firstName"))
            {
                <li class="comment">
                    <div class="meta">
                        <h3>@item.firstName @item.lastName</h3>
                        <span>@item.CreateDate.ToString("dd"). @item.CreateDate.ToString("MMM") @item.CreateDate.ToString("yyyy") - @item.CreateDate.ToString("%H"):@item.CreateDate.ToString("%m")</span>
                    </div>
                    <div class="message">
                            @if (item.comment != "")
                            {
                                var output = (umbraco.library.ReplaceLineBreaks(@item.comment));
                                <p>@Html.Raw(@output)</p>
                            }
                    </div>
                </li>
            }
        }
    </ul>
</div>

<!-- Comments End -->