@inherits Umbraco.Web.Mvc.UmbracoTemplatePage

@{
    var root = CurrentPage.Site();

    var blogList = root.FirstChild("BlogList").Children;
}

<div class="inner">
    @if (CurrentPage.Url != "/")
    {
        <aside>
            <header>
                <h2>@root.title</h2>
            </header>
            <p>@root.subtitle</p>
        </aside>
    }
    
    <aside>
        <header>
            <h2>Find mig på</h2>
        </header>
        <div class="social-icons">
            <ul>
                <li><a href="@root.facebook" target="_blank"><i class="fa fa-facebook"></i></a></li>
                <li><a href="@root.linkedin" target="_blank"><i class="fa fa-linkedin"></i></a></li>
                <li><a href="@root.twitter" target="_blank"><i class="fa fa-twitter"></i></a></li>
            </ul>
        </div>
    </aside>

    <aside class="category">
        <header>
            <h2>Kategorier</h2>
        </header>
        <ul>
            @{

                var catsFromService = UmbracoContext.Application.Services.TagService.GetAllContentTags("categories").OrderByDescending(t => t.NodeCount);
                foreach (var cat in catsFromService)
                {
                    <li>
                        <a href="/kategorier/?=@cat.Text" title="@cat.Text" class="hover-btn">@cat.Text</a>
                        <span>(@cat.NodeCount)</span>
                    </li>
                }
            }
        </ul>
    </aside>
    <aside class="search">
        <form action="/find/" method="get">
            <input type="text" name="søg" placeholder="Skriv hvad du søger.." />
            <button><i class="fa fa-search"></i></button>
        </form>
    </aside>

    @if (CurrentPage.Url == "/")
    {
    <aside>
        <header>
            <h2>Del</h2>
        </header>
        <div class="social-icons">
            <ul>
                <li id="twitter" data-url="http://www.renegade.works" data-title="Del på Twitter"></li>
                <li id="facebook" data-url="http://www.renegade.works" data-title="Del på Facebook"></li>
                <li id="google" data-url="http://www.renegade.works" data-title="Del på LinkedIn"></li>
            </ul>
        </div>
    </aside>
    }
    
    @if (CurrentPage.Url != "/")
    {

        <aside class="recent-posts">
            <header>
                <h2>Seneste opslag</h2>
            </header>
            @foreach (var item in blogList.OrderBy("CreateDate desc").Take(3))
            {
                <div class="post">
                    <a href="@item.Url">
                        <h3>@item.Name</h3>
                        <p>@Umbraco.Truncate(item.subtitle, 100)</p>
                        <span><i class="fa fa-calendar"></i> @item.CreateDate.ToString("dd") @item.CreateDate.ToString("MMM") @item.CreateDate.ToString("yyyy")</span>
                    </a>
                </div>
            }

        </aside>
    }
</div>