@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    Layout = "_Layout.cshtml";

    var item = CurrentPage;

    var comments = CurrentPage.Children;
}
<section id="page">
    <header class="header col-lg-12">
        <div class="media-photo">
            <img class="img-responsive" src="@Model.Content.GetCropUrl(propertyAlias: "headerImage", width: 1000, height: 400)" alt="Alternate Text" />
        </div>
    </header>
    <div class="container-wrap">
        <!-- Page Content-->
        <div class="col-md-8 col-sm-7 page-content">
            <article>
                @item.Id
                <header>
                    <h6 class="meta">
                        <span>Skrevet af: @item.CreatorName</span>
                        <span>@item.CreateDate.ToString("dd").@item.CreateDate.ToString("MM").@item.CreateDate.ToString("yyyy")</span>
                        @if (CurrentPage.HasValue("categories"))
                        {


                            String[] categories = CurrentPage.GetPropertyValue("categories").Split(',');
                            foreach (var cat in categories)
                            {
                                <a href="/kategorier/?=@cat">@cat</a>
                            }


                        }
                        <span>Kommentarer: @comments.Count()</span>
                    </h6>
                    <h1>@item.Name</h1>
                    <h2>@item.subtitle</h2>
                </header>

                @item.bodyText

                @if (CurrentPage.HasValue("tags"))
                {
                    <div class="tags">
                        <h3>Tags</h3>
                        <ul>
                            @{
                                String[] tags = CurrentPage.GetPropertyValue("tags").Split(',');
                                foreach (var tag in tags)
                                {
                                    <li>
                                        <a href="/tags/?=@tag">@tag</a>
                                    </li>

                                }
                            }
                        </ul>
                    </div>
                }
            </article>


            @{Html.RenderPartial("_Comments");}
        </div>
        <!-- Page Content End -->
        <!-- Sidebar -->
        <div class="col-md-4 col-sm-5 sidebar">
            @{Html.RenderPartial("_Sidebar");}
        </div>
        <!-- Sidebar End -->
    </div>
</section>